.menosemais{
    position: absolute;
    display: flex;
    height: 40px;
    width: 50px;    
    top: 190px;
    left: 830px;
    gap: 0px 200px;
}
.menos{
    padding: 10px;
    border-radius: 90px;
    border: none;
}
.menos-color{
    color: white;
    background-color: #bdbdbd;
}
.menos-color:active{
    background-color: #5a6cbe;
}

.mais{
    padding: 10px;
    border-radius: 90px;
    border: none;
}
.mais-color{
    color: white;
    background-color: #bdbdbd;
}
.mais-color:active{
    background-color: #5a6cbe;
}
